# Ensemble Methods

### Introduction to Ensemble Methods

**1) Explain how the random forest algorithm works. Why are random forests resilient to overfitting?**

_Hint: Your answer should discuss bagging and the subspace sampling method._

In [ ]:
# Your written answer here

### Random Forests and Hyperparameter Tuning using GridSearchCV

In this section, you will perform hyperparameter tuning for a Random Forest classifier using GridSearchCV. You will use `scikit-learn`'s wine dataset to classify wines into one of three different classes. 

After finding the best estimator, you will interpret the best model's feature importances. 

In the cells below, we have loaded the relevant imports and the wine data for you.

In [1]:
# Relevant imports
import pandas as pd 

# Load the data 
df = pd.read_csv('titanic.csv')
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
X = df.drop(['Survived','Name'],axis=1)
y = df['Survived']

In [8]:
X = pd.get_dummies(X)

In the cells below, we inspect the first five rows of the dataframe and compute the dataframe's shape.

In [9]:
X.head()

,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Sex_female,Sex_male
0,3,22.0,1,0,7.2500,0,1
1,1,38.0,1,0,71.2833,1,0
2,3,26.0,0,0,7.9250,1,0
3,1,35.0,1,0,53.1000,1,0
4,3,35.0,0,0,8.0500,0,1

In [4]:
X.shape

(887, 6)

We also get descriptive statistics for the dataset features, and obtain the distribution of classes in the dataset.

In [10]:
X.describe()

,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Sex_female,Sex_male
count,887.000000,887.000000,887.000000,887.000000,887.00000,887.000000,887.000000
mean,2.305524,29.471443,0.525366,0.383315,32.30542,0.354002,0.645998
std,0.836662,14.121908,1.104669,0.807466,49.78204,0.478480,0.478480
min,1.000000,0.420000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,2.000000,20.250000,0.000000,0.000000,7.92500,0.000000,0.000000
50%,3.000000,28.000000,0.000000,0.000000,14.45420,0.000000,1.000000
75%,3.000000,38.000000,1.000000,0.000000,31.13750,1.000000,1.000000
max,3.000000,80.000000,8.000000,6.000000,512.32920,1.000000,1.000000

In [11]:
y.value_counts().sort_index()

0    545
1    342
Name: Survived, dtype: int64

## Setting up our validation framework

### Split your data in Train and Test data
No validation dataset necessary as we will be performing K-fold crossvalidation

In [ ]:
from sklearn.model_selection import train_test_split
# 
# 
# 
#

### Instantiate your k-fold object

In [12]:
from sklearn.model_selection import StratifiedKFold
# 
# 
# 
#

You will now perform hyper-parameter tuning for a Random Forest classifier.

**2) Construct a `param_grid` dictionary to pass to `GridSearchCV` when instantiating the object. Choose at least 3 hyper-parameters to tune and 3 values for each.**

In [ ]:
# Replace None with relevant code 
param_grid = None

Now that you have created the `param_grid` dictionary of hyperparameters, let's continue performing hyperparameter optimization of a Random Forest Classifier. 

In the cell below, we include the relevant imports for you.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

**3) Create an instance of a Random Forest Classifier estimator; call it `rfc`.** Make sure to set `random_state=42` for reproducibility.

In [ ]:
# Replace None with appropriate code
rfc = None

**4) Create an instance of an `GridSearchCV` object and fit it to the data.** Call the instance `cv_rfc`. 

* Use the random forest classification estimator you instantiated in the cell above, the parameter grid dictionary constructed, and make sure to perform 5-fold cross validation. 
* The fitting process should take 10 - 15 seconds to complete.

In [ ]:
# Replace None with appropriate code 
cv_rfc = None 

cv_rfc.fit(None, None)

**5) What are the best training parameters found by GridSearchCV?** 

_Hint: Explore the documentation for GridSearchCV._

In [ ]:
# Your code here

In the cell below, we create a variable `best_model` that holds the best model found by the grid search.

In [ ]:
best_model = cv_rfc.best_estimator_

Next, we give you a function that creates a horizontal bar plot to visualize the feature importances of a model, sorted in descending order.

In [ ]:
import matplotlib.pyplot as plt 
%matplotlib inline 

def create_plot_of_feature_importances(model, X):
    ''' 
    Inputs: 
    
    model: A trained ensemble model instance
    X: a dataframe of the features used to train the model
    '''
    
    feat_importances = model.feature_importances_

    features_and_importances = zip(X.columns, feat_importances)
    features_and_importances = sorted(features_and_importances, 
                                     key = lambda x: x[1], reverse=True)
    
    features = [i[0] for i in features_and_importances]
    importances = [i[1] for i in features_and_importances]
    
    plt.figure(figsize=(10, 6))
    plt.barh(features, importances)
    plt.gca().invert_yaxis()
    plt.title('Feature Importances')
    plt.xlabel('importance')

**6) Create a plot of the best model's feature importances.** 

_Hint: To create the plot, pass the appropriate parameters to the function above._

In [ ]:
# Your code here

**7) What are this model's top 3 features in order of descending importance?**

In [ ]:
# Your written answer here